body{
    background: #060203;
}
.main{
    /* width: 100%; */
}
.footer{
    margin: 0 auto;
    width: 691px;
}
.meja{
    margin: 0 auto;
    position: relative;
    width: 691px;
}
.sit{
    position: absolute;
    /* padding-top: 1px; */
    font-size: 10px;
}
.sit-1{
    top:80px;
    left: 230px;
}
.sit-2{
    top:80px;
    left: 412px;
}
.sit-3{
    top: 118px;
    left: 518px;
    transform: rotate(45deg);
}
.sit-4{
    top: 215px;
    left: 552px;
    transform: rotate(90deg);
}
.sit-5{
    top: 314px;
    left: 518px;
    transform: rotate(-45deg);
}
.sit-6{
    top: 348px;
    left: 413px;
}
.sit-7{
    top: 348px;
    left: 231px;
}
.sit-8{
    top: 314px;
    left: 126px;
    transform: rotate(45deg);
}
.sit-9{
    top: 214px;
    left: 91px;
    transform: rotate(-90deg);
}
.sit-10{
    top: 118px;
    left: 126px;    
    transform: rotate(-45deg);
}
.stand-up{
    top: 10px;
    left: 10px;    
}

.tablecard-wrap{
    position: absolute;
    top: 181px;
    left: 188px;   
    width: 318px;
}
#tablecard{
    text-align: center;
}
img.tablecard {
    width: 60px;
    display: inline-block;
}
.cardplayer{
    position: absolute;
    top:-25px;
    width: 318px;
    text-align: center;
}
.warisan{
    width: 318px;
    text-align: center;
}

.progress{
    height: 5px;
}
.player{
    width: 60px;
    font-size: 9px;
    position: absolute;
    margin-left: 0px;
    margin-top: -40px;
    display: block;
    text-align: center;
    color: white;    
}
.player .card-header{
    white-space: nowrap; 
    padding:2px;
    text-overflow: ellipsis;
    overflow: hidden;
}
.player .card-body{
    padding:5px;
}
.player .card-footer{
    padding:1px;
}
.player-card-small{
    position: absolute;
    width: 100px;
    top: 50px;
    left: 10px;
}
img.card-small {
    margin-right: -18px;
    display: inline;
    width: 20px;
}
.loser{
    position: absolute;
    top:0px;
    left: -10px;
    width: 60px;
}
.piala{
    position: absolute;
    top:-10px;
    left: -30px;
    width: 50px;
}
.mahkota{
    position: absolute;
    top:-35px;
    left: 0px;
    width: 60px;
}
.pas{    
    opacity: 0.5;
    filter: alpha(opacity=50);
}

.footer .card, .header .card{
    font-size: 10px;
    border-radius: 0px;
}
.footer .card-header{
    padding: 1px;
}
.footer-content{
    margin: 0px;
    padding-left: 0px;
    padding-right: 0px;
}
.row{
    margin-left: 0px;
    margin-right: 0px;
}
.footer-content input{
    font-size: 10px;
    border-radius: 0px;
}
.footer-content button{
    font-size: 10px;
    border-radius: 0px;
    padding: 5px 20px;
}
.footer-content .card-body, .header .card-body{
    padding: 0px;
}
.footer-content .card-footer{
    padding: 0px;
    height: 30px;
}
#mecard img{
    width: 80px;
    display: inline-block;
    margin-right: -50px;
    margin-bottom: -80px;
}
.clearfix{ 
    display: inline-block;
    width: 100%;
}
a.active > img{
    border:2px solid lime;
}