.chat{
    position: absolute;
    top: 130px;
    width: 300px;
    left: 700px;
}
#chat-body {
    height: 200px;
    overflow-y: scroll;
}
.loser{
    position: absolute;
    top:0px;
    left: -10px;
    width: 60px;
}
.piala{
    position: absolute;
    top:-10px;
    left: -30px;
    width: 50px;
}
.mahkota{
    position: absolute;
    top:-35px;
    left: 0px;
    width: 60px;
}
body{
    background: black;
}
a.active > img{
    border:2px solid lime;
}
.progress{
    height: 5px;
}
.player{
    width: 60px;
    font-size: 9px;
    position: absolute;
    margin-left: 0px;
    margin-top: -40px;
    display: block;
    text-align: center;
    color: white;    
}
.player .card-header{
    white-space: nowrap; 
    padding:2px;
    text-overflow: ellipsis;
    overflow: hidden;
}
.player .card-body{
    padding:5px;
}
.player .card-footer{
    padding:1px;
}

.player-1{
    top:90px;
    left:245px;    
}
.sit{        
    position: absolute;
}
.sit-1{
    top:90px;
    left:245px;
}    
.sit-2{
    top:90px;
    left:426px;
}    
.sit-3{
    top:130px;
    left:540px;
}    
.sit-4{
    top:230px;
    left:575px;
}    
.sit-5{
    top:335px;
    left:540px;
}    
.sit-6{
    top:370px;
    left:426px;
}    
.sit-7{
    top:370px;
    left:245px;
}    
.sit-8{
    top:335px;
    left:135px;
}    
.sit-9{
    top:230px;
    left:95px;
}    
.sit-10{
    top:130px;
    left:130px;
}    

.player-card-small{
    position: absolute;
    width: 100px;
    top: 50px;
    left: 10px;
}
img.card-small {
    margin-right: -18px;
    display: inline;
    width: 20px;
}

.stand-up{
    position: absolute;
    top: 30px;
    left: 30px;
}

#btn-pas{
    position: absolute;
    top: 410px;
    left: 30px;
}
#btn-send{
    position: absolute;
    top: 410px;
    left: 635px;
}
#mecard{
    /* height: 150px; */
    /* clear: both; */
    overflow-x: auto;
}
#mecard img{
    width: 80px;
    display: inline-block;
    margin-right: -50px;
    /* margin-bottom: -80px; */
}
.clearfix{ 
    display: inline-block;
    width: 100%;
}
img.tablecard {
    width: 50px;
}
#tablecard {
    position: absolute;
    top:210px;
    left: 235px;
    width: 300px;
}
#tablecard img{
    display: inline;
}
@media only screen and (max-width: 1100px) {
    .loser{
        position: absolute;
        top:0px;
        left: -10px;
        width: 60px;
    }
    .piala{
        position: absolute;
        top:0px;
        left: -20px;
        width: 30px;
    }
    .mahkota{
        position: absolute;
        top:-20px;
        left: 0px;
        width: 40px;
    }
    
    img.tablecard {
        width: 40px;
    }
    #tablecard {
        position: absolute;
        top:45%;
        left: 35%;
        width: 200px;
    }
    #tablecard img{
        display: inline;
    }
    .player{
        width: 40px;
    }
    .sit, .stand-up{        
        position: absolute;
        font-size: 8px;
    }
    .sit-1{
        top:19%;
        left:34%;
    }    
    .sit-2{
        top:19%;
        left:58.5%;
    }    
    .sit-3{
        top:27%;
        left:74%;
    }    
    .sit-4{
        top:47.5%;
        left:79%;
    }    
    .sit-5{
        top:69%;
        left:74%;
    }    
    .sit-6{
        top:76%;
        left:58.5%;
    }    
    .sit-7{
        top:76%;
        left:34%;
    }    
    .sit-8{
        top:68%;
        left:19%;
    }    
    .sit-9{
        top:47.5%;
        left:13%;
    }    
    .sit-10{
        top:27%;
        left:18%;
    }    
    .player-card-small{
        position: absolute;
        width: 100px;
        top: 40px;
        left: -20px;
    }
    img.card-small {
        margin-right: -16px;
        display: inline;
        width: 15px;
    }    
    
    #btn-pas{
        font-size: 12px;
        position: absolute;
        top:78%;
        left: 4%;
    }
    #btn-send{
        font-size: 12px;
        position: absolute;
        top: 78%;
        left: 80%;
    }    
}
@media only screen and (max-width: 600px) {
    img.tablecard {
        width: 30px;
    }    
    #tablecard {
        position: absolute;
        top:42%;
        left: 29%;
        width: 200px;
    }
    #tablecard img{
        display: inline;
    }    
}
