body{
    background: black;
}
a.active > img{
    border:2px solid lime;
}
.row > div{
    margin-right: -90px;
}
img.card {
    width: 20px;
}
img.tablecard {
    width: 50px;
}
#tablecard {
    position: absolute;
    top:190px;
    left: 225px;
}
#tablecard img{
    display: inline;
}
#mecard{
    padding-bottom: 100px;
}
.mecard{
    position: absolute;
    width:1000px;
    top:450px;
}
.mecard img{
    width: 80px;
    display: inline;
    margin-right: -50px;
    margin-bottom: -80px;
}
.playercard{
    /* display: absolute; */
    position: absolute;
    width: 100px;
    top: 50px;
    left: 10px;
}
.playercard img{
    display: inline;
    /* position: absolute; */
    margin-right: -18px;
    /* margin-bottom: 10px; */
    /* margin-top: -10px; */
}
.giliran{
    background: lime;
    border-radius: 50px;
}
.player{
    background: silver;
    position: absolute;
    padding: 40px;
    border-radius: 100px;
}
.card-custom{
    /* background: #9bbb59; */
    position: absolute;
    margin-left: 0px;
    margin-top: -50px;
    display: block;
    text-align: center;
    color: white;         
}
.sit-1{
    position: absolute;
    top: 80px;
    left: 225px;
}
.sit-2{
    position: absolute;
    top: 80px;
    left: 407px;
}
.sit-3{
    position: absolute;
    top: 115px;
    left: 510px;
}
.sit-4{
    position: absolute;
    top: 210px;
    left: 550px;
}
.sit-5{
    position: absolute;
    top: 310px;
    left: 510px;
}
.sit-6{
    position: absolute;
    top: 350px;
    left: 407px;
}
.sit-7{
    position: absolute;
    top: 350px;
    left: 225px;
}
.sit-8{
    position: absolute;
    top: 310px;
    left: 115px;
}
.sit-9{
    position: absolute;
    top: 210px;
    left: 85px;
}
.sit-10{
    position: absolute;
    top: 115px;
    left: 115px;
}
.button-close{
    position: absolute;
    top:10px;
    left:10px;
}
.chat{
    position: absolute;
    top: 130px;
    width: 300px;
    left: 700px;
}
#chat-body {
    height: 200px;
    overflow-y: scroll;
}
.login{
    top: 10px;
    left : 700px;
    width: 300px;
    position: absolute;
}
.card-custom .card-header{
    white-space: nowrap; 
    padding:2px;
    width: 60px;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 9px;
}
.card-custom .card-body{
    padding:5px;
    max-width: 100px;
}
.card-custom .card-footer{
    padding:5px;
}
.card-status{
    white-space: nowrap; 
    padding:2px;
    width: 60px;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 9px;
    border-top: 1px solid rgba(0,0,0,.125);
}
.button-play{
    display: none;
    position: absolute;
    top:380px;
    left: 20px;
}
#btn-send{
    position: absolute;
    top: 0px;
    left: 580px;
    /* position: absolute;
    top: 100px;
    left: 200px; */
}
.room{
    top: 10px;
    left : 1010px;
    width: 300px;
    position: absolute;
}
